{% extends "user/main.html" %}

{% block content %}




<div class="pl-5 lg-5 container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://tse3.mm.bing.net/th?id=OIP.bz80Kd2EgMNbfmr7eaNg6QHaFM&pid=Api&P=0&h=180" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BOUTIQUE 1</h5>
              <p class="card-text">شيخن تلكوم /انواكشوط/توجنين/الوقفة</p>
              <a href="{% url "01" %}" class="btn btn-primary">تصفح</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://tse3.mm.bing.net/th?id=OIP.9_xOUmodQFO3xTb22WGj5AHaEK&pid=Api&P=0&h=180" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BOUTIQUE 2</h5>
              <p class="card-text">اطول عمرو تلكوم /انواكشوط/توجنين/الوقفة</p>
              <a href="{% url "02" %}" class="btn btn-primary">تصفح</a>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://tse4.mm.bing.net/th?id=OIP.-iidMfTlB1ghHePpxWjaIgHaE8&pid=Api&P=0&h=180" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BOUTIQUE 3</h5>
              <p class="card-text">سيداتي تلكوم /انواكشوط/توجنين/الوقفة</p>
              <a href="{% url "03" %}" class="btn btn-primary">تصفح</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://tse3.mm.bing.net/th?id=OIP.7HWsDvLp-6viSeDP5IUJ1gHaE8&pid=Api&P=0&h=180" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BOUTIQUE 4</h5>
              <p class="card-text">التار تلكوم /انواكشوط/توجنين/الوقفة</p>
              <a href="{% url "04" %}" class="btn btn-primary">تصفح</a>
            </div> 
          </div>
      </div>  
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
          <img src="https://tse1.mm.bing.net/th?id=OIP.bJGo72EMfTi-U1zThyBXjgHaGA&pid=Api&P=0&h=180">
          <div class="card-body">
            <h5 class="card-title">BOUTIQUE 5</h5>
            <p class="card-text">حدمين تلكوم /انواكشوط/توجنين/الوقفة</p>
            <a href="{% url "01" %}" class="btn btn-primary">تصفح</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://tse1.mm.bing.net/th?id=OIP.ox3dxQYHUg1fVGs8wzM6HwHaE8&pid=Api&P=0&h=180" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BOUTIQUE 6</h5>
              <p class="card-text">لم يحجز بعد</p>
              <a href="" class="btn btn-primary">تصفح</a>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://tse1.mm.bing.net/th?id=OIP.ox3dxQYHUg1fVGs8wzM6HwHaE8&pid=Api&P=0&h=180" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BOUTIQUE 7</h5>
              <p class="card-text">لم يحجز بعد</p>
              <a href="" class="btn btn-primary">تصفح</a>
            </div>
          </div>
        </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://tse1.mm.bing.net/th?id=OIP.ox3dxQYHUg1fVGs8wzM6HwHaE8&pid=Api&P=0&h=180" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BOUTIQUE 8</h5>
              <p class="card-text">لم يحجز بعد</p>
              <a href="" class="btn btn-primary">تصفح</a>
            </div> 
          </div>
      </div>   
    </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://tse1.mm.bing.net/th?id=OIP.ox3dxQYHUg1fVGs8wzM6HwHaE8&pid=Api&P=0&h=180" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BOUTIQUE 9</h5>
              <p class="card-text">لم يحجز بعد</p>
              <a href="" class="btn btn-primary">تصفح</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://tse1.mm.bing.net/th?id=OIP.ox3dxQYHUg1fVGs8wzM6HwHaE8&pid=Api&P=0&h=180" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BOUTIQUE 10</h5>
              <p class="card-text">لم يحجز بعد</p>
              <a href="" class="btn btn-primary">تصفح</a>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://tse1.mm.bing.net/th?id=OIP.ox3dxQYHUg1fVGs8wzM6HwHaE8&pid=Api&P=0&h=180" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BOUTIQUE 11</h5>
              <p class="card-text">لم يحجز بعد</p>
              <a href="" class="btn btn-primary">تصفح</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://tse1.mm.bing.net/th?id=OIP.ox3dxQYHUg1fVGs8wzM6HwHaE8&pid=Api&P=0&h=180" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BOUTIQUE 12</h5>
              <p class="card-text">لم يحجز بعد</p>
              <a href="" class="btn btn-primary">تصفح</a>
            </div> 
          </div>
      </div> 
    </div> 
      
       
  
  


  







{% endblock  %}